Q1. Create one variable containing following type of data:

(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
var = ("Hello", [1, 2, 3], 3.14, (4, 5, 6))

Q2. Given are some following variables containing data:  
(i) var1 = ‘ ‘  
(ii) var2 = ‘[ DS , ML , Python]’  
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]  
(iv) var4 = 1.  
What will be the data type of the above given variable.

In [3]:
var1 = ' '  # String
var2 = '[ DS , ML , Python]'  # String (because it is enclosed in quotes)
var3 = ['DS', 'ML', 'Python']  # Listst
var4 = 1.  # Float (because of the decimal point)

Q3. Explain the use of the following operators using an example:  
(i) /  
(ii) %  
(iii) //  
(iv) **

In [5]:
#(i) / (Division Operator) ->Used for division and returns a float.
print(10/3)
#(ii) % (Modulus Operator) ->Returns the remainder of a division.
print(10%3)
#(iii) // (Floor Division Operator) ->Performs division but only returns the integer part.
print(10//3)
#(iv) ** (Exponentiation Operator) ->Raises one number to the power of another.
print(2**3)

3.3333333333333335
1
3
8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [9]:
lst = [10, "Python", 3.14, True, [1, 2, 3], (4, 5), {6, 7}, {"name":"sudhanshu"}, None, 8.9]
for i in lst:
    print(f"Element: {i}, Type: {type(i)}")

Element: 10, Type: <class 'int'>
Element: Python, Type: <class 'str'>
Element: 3.14, Type: <class 'float'>
Element: True, Type: <class 'bool'>
Element: [1, 2, 3], Type: <class 'list'>
Element: (4, 5), Type: <class 'tuple'>
Element: {6, 7}, Type: <class 'set'>
Element: {'name': 'sudhanshu'}, Type: <class 'dict'>
Element: None, Type: <class 'NoneType'>
Element: 8.9, Type: <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [10]:
A = 64
B = 2
count = 0
while A % B == 0:
    A = A // B
    count += 1
print(f"A is divisible by B {count} times.")

A is divisible by B 6 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [13]:
numbers = [i for i in range(25)]
for num in numbers:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is NOT divisible by 3")

0 is divisible by 3
1 is NOT divisible by 3
2 is NOT divisible by 3
3 is divisible by 3
4 is NOT divisible by 3
5 is NOT divisible by 3
6 is divisible by 3
7 is NOT divisible by 3
8 is NOT divisible by 3
9 is divisible by 3
10 is NOT divisible by 3
11 is NOT divisible by 3
12 is divisible by 3
13 is NOT divisible by 3
14 is NOT divisible by 3
15 is divisible by 3
16 is NOT divisible by 3
17 is NOT divisible by 3
18 is divisible by 3
19 is NOT divisible by 3
20 is NOT divisible by 3
21 is divisible by 3
22 is NOT divisible by 3
23 is NOT divisible by 3
24 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [15]:
# Mutable data type-> the values can be modified ->ex:List
mutable_list = [1, 2, 3]
mutable_list[0] = 100  # Changing value
print(mutable_list) 

# Immutable Example-> the values can't be modified ->ex:Tuple
immutable_tuple = (1, 2, 3)
#immutable_tuple[0] = 100  # This will raise an error

[100, 2, 3]