# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is acollection of data that is used to store, retrieve, manage, and manipulate information efficiently.

## Differences Between SQL and NoSQL Databases
SQL databases are structured and store data in tables with predefined schemas, whereas NoSQL databases use schema-less models     
SQL databases use Structured Query Language (SQL), whereas NoSQL databases use various query mechanisms, often specific to the database type.     
SQL databases scale vertically, while NoSQL databases scale horizontally.     
SQL databases are best for structured data, whereas NoSQL is suited for column oriented data

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language): Consists of SQL commands that define and modify database structures.
## Example
CREATE TABLE students (id INT PRIMARY KEY,name VARCHAR(50),age INT);        
DROP TABLE students;         
ALTER TABLE students ADD email VARCHAR(100);      
TRUNCATE TABLE students;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) consists of SQL commands that modify the data in a database.
## Example:
INSERT INTO students (id, name, age) VALUES (1, 'John Doe', 22);      
UPDATE students SET age = 23 WHERE id = 1;         
DELETE FROM students WHERE id = 1;

# Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is used to retrieve data from a database. The primary command in DQL is SELECT.
## Example
SELECT name, age FROM students WHERE age > 20;

# Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key uniquely identifies each record in a table. It must contain unique and non-null values.      
Foreign Key: A foreign key in one table refers to the primary key in another table, establishing a relationship between them.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector     
conn = mysql.connector.connect(host="localhost",user="root",password="password",database="school")
## cursor:Creates a cursor object that allows execution of SQL queries.
## execute:Runs an SQL query passed as an argument.

# Q7. Give the order of execution of SQL clauses in an SQL query.

FROM – Identifies the source table(s).     
WHERE – Filters rows based on conditions.     
GROUP BY – Groups rows based on specified columns.     
HAVING – Filters groups based on conditions.     
SELECT – Specifies columns to retrieve.     
ORDER BY – Sorts the result set.     
LIMIT – Limits the number of rows returned.