# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
series = pd.Series([4, 8, 15, 16, 23, 42])
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series_from_list = pd.Series(my_list)
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:
{Name:Alice,Age:25,Gender:Female}    
{Name:Bob,Age:30,Gender:Male}    
{Name:Claire,Age:27,Gender:Female}     
Then, print the DataFrame.

In [4]:
data = {"Name": ["Alice", "Bob", "Claire"],"Age": [25, 30, 27],"Gender": ["Female", "Male", "Female"]}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

## DataFrame in Pandas is a 2-dimensional structure, similar to a table in a database. It consists of rows and columns.
## Series in Pandas is a 1-dimensional array, like a single column of a DataFrame.

In [5]:
series = pd.Series([10, 20, 30, 40])
print("Series:\n", series)
df = pd.DataFrame({"A": [10, 20, 30, 40],"B": [50, 60, 70, 80]})
print("\nDataFrame:\n", df)

Series:
 0    10
1    20
2    30
3    40
dtype: int64

DataFrame:
     A   B
0  10  50
1  20  60
2  30  70
3  40  80

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

common functions to manipulate data in a dataframe are:
df.head()   
df.tail()   
df.columns    
df.dtypes

In [6]:
#df.head() for knowing the first five rows (by default)
df = pd.DataFrame({"A": [10, 20, 30, 40],"B": [50, 60, 70, 80]})
print(df.head())

    A   B
0  10  50
1  20  60
2  30  70
3  40  80

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series - Mutable (values can be changed)      
DataFrame - Mutable (rows/columns can be modified)    
Panel - Immutable

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
names = pd.Series(["Alice", "Bob", "Charlie"])
ages = pd.Series([25, 30, 22])
genders = pd.Series(["Female", "Male", "Male"])
df_from_series = pd.DataFrame({"Name": names,"Age": ages,"Gender": genders})
print(df_from_series)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   22    Male